body {
    font-family: calibri, sans-serif;
}

#container {
    height: 600px;
    width: 680px;
    margin: 0 auto;
    background-color: #ebfdf2
}

#headerBar {
    height: 80px;
    width: 680px;
    background: linear-gradient(#3ec600, #befeae);
    -o-background: linear-gradient(#3ec600, #befeae);
    -moz-background: linear-gradient(#3ec600, #befeae);
    -webkit-background: linear-gradient(#3ec600, #befeae);
}
#questionBox {
    /* Text Style */
    text-align: center;
    color: gray;
    
    /* Box Style */
    height: 100px;
    width: 600;
    margin: 5px auto;
    background-color: #f0ffbc;
    border-style: solid;
    border-color: #c8ff05;
    border-width: thick;
    border-radius: 3px;
}
